html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body { background-color:#FAFAFA;
    width: 500px;
    height: 1657px;
 }

/* Obdelník 1 */
 .obdelnik1{
    text-align: center;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-top:60px;
}

 .obdelnik1 img{
    padding:60px 75,45px 39,5px 75,45px;
    
}
.obdelnik1 h1{
    color:#000000;
    font-size:28px;
    text-align: center;
    margin: 39,5px 153px 10px 153px;
    font-weight: 600;
    border-bottom:  2px solid #407BFF;
   }

 .obdelnik1 p {
    color:#8B8B8B;
    margin:30px 20px 0px 20px;
}

.dobrodruzstvi{
  margin: 30px 152px 10px 153px;
  border-radius:20px;
  display: block;
  background-color: #407BFF;
  padding: 10px;
  text-align:center;
  font-size: 14px;
  color:white;
  font-weight: 600;
}

.pohoda{
  margin: 10px 140px 60px 140px;
  border-radius:20px;
  display: block;
  background-color: #8B8B8B;
  padding: 10px;
  text-align:center;
  font-size: 14px;
  color:white;
  font-weight: 600;
}

/* Obdelník 2 */
.obdelnik2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

.sluzby{
  top: 769px;
  left: 20px;
  width: 460px;
  height: 66px;
}

.map{
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  top: 863px;
  left: 20px;
  width: 460px;
  height: 80px;
  margin: 20px 15px 15px 20px;
}

.map img{
  padding:20px;
}

.map p{
  float: right;
  text-align: left;
  top: 895px;
  left: 114px;
  width: 346px;
  height: 28px;
  padding-left: 0px;
}

.cactus{
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  top: 863px;
  left: 20px;
  width: 460px;
  height: 80px;
  margin:0px 20px 15px 20px;
}


.cactus img{
  padding:20px;
}

.cactus p{
  float: right;
  text-align: left;
  top: 958px;
  left: 20px;
  width: 460px;
  height: 80px;
}

.plane{
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  top: 863px;
  left: 20px;
  width: 460px;
  height: 80px;
  margin:0px 20px 60px 20px;
}

.plane img{
  padding:20px;
}

.plane p{
  float: right;
  text-align: left;
  top: 895px;
  left: 114px;
  width: 346px;
  height: 28px;
  padding-left: 0px;
}


 .obdelnik2 p {
    color:#8B8B8B;
    padding:0px 20px;
}

/* Obdelník 3 */

.obdelnik3{
    text-align: center;
    display:flex;
    flex-direction:column;
    flex-grow:1;
 }

 .palm{
    display:flex;
    flex-direction: row;
    background: #FFFFFF 0% 0%;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    top: 863px;
    left: 20px;
    width: 460px;
    height: 80px;
    margin: 30px 15px 15px 20px;
}  

.palm img{
  padding:20px;
}


.umbrella{
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  top: 863px;
  left: 20px;
  width: 460px;
  height: 80px;
  margin:0px 20px 15px 20px;
}  


.umbrella img{
  padding:20px;
}

.rv{
  display:flex;
  flex-direction: row;
  background: #FFFFFF 0% 0%;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  top: 863px;
  left: 20px;
  width: 460px;
  height: 80px;
  margin:0px 20px 60px 20px;
}  

.rv img{
  padding:20px;
}

 .obdelnik3 p {
    color:#8B8B8B;
    padding:0px 20px;
}

h2{
    color:#000000;
    font-weight: 600;
    font-size:16px;
    text-align: center;
 }
 
 a{
     font-size: 14px;
     box-sizing: content-box;
     border: #000000;
}