html{box-sizing: border-box;}
*,:after, :before{box-sizing: inherit;}

body{
  font-size: 13px;
  background-color: #FAFAFA;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sluzby1 p{
  font-size: 16px;
}
.sluzby2 p{
  font-size: 16px;
}


h1{
  font-size: 28px;
}

.rectangle{
  border-bottom: 2px solid #407BFF;
  max-width: 60px;
  position: relative ;
  left: 40%;
}

.obdelnik1, .obdelnik2, .obdelnik3{
  margin: 20px;
  padding:20px;
  text-align: center;
}

.obdelnik1{
  margin-top: 60px;
  margin-bottom: 40px;
}

.obdelnik3{
  margin-bottom: 60px;
  margin-top:0;
  padding-top: 0;
}

.obdelnik2{
  margin-top:0;
  padding-top: 0;
  margin-bottom:60px;
}

.img{
  max-width: 60%;
}

.map, .cactus, .plane, .palm, .umbrella, .rv{
  display:flex;
  align-items: center;
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  
}

.map img, .cactus img, .plane img, .palm img, .umbrella img, .rv img{
  padding: 20px;
}

.dobrodruzstvi,.pohoda{
  border-radius:20px;
  background-color: #407BFF;
  padding: 10px;
  margin: 5% 15% 5% 15%;
  text-align:center;
  font-size: 14px;
  color:white;
  font-weight: 600;
}

.pohoda{;
  background-color: #8B8B8B;
}


@media (min-width:540px){
  .ikony{
    display: flex;
    justify-content: space-between;
  }
  .map, .cactus, .plane, .palm, .umbrella, .rv{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    
  }

  .tlacitka{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
  }
    
  .dobrodruzstvi,.pohoda{
    display: flex;
    justify-content: space-evenly;
    padding: 11px 30px 11px 30px;
    margin:0;
  }
  .rectangle{
    max-width: 100px;
    position: relative ;
    left: 42%;
  }
}

@media (min-width:810px){
  .obdelnik1{
    display:flex;
  }
  .clovek{
    order:4;
    margin-left: 40px;
  }
  .happy{
    display: block;
    text-align: left;
    margin-top: 40px;
  }

  .dobrodruzstvi{
    margin:30px 20px 60px 0px;
  }
  .pohoda{
    margin:30px 20px 60px 0px
  }

  .tlacitka{
  flex-direction: row;
  justify-content: unset;
  padding:0;
  margin:0;
  }

  .obdelnik2{
    display:flex;
    flex-direction: row-reverse;
  }

  .obdelnik3{
    display:flex;
    padding:0px;
    margin:40px;
  }

  .sluzby1{
    margin:40px 40px 40px 40px;
    text-align: left;
    }

.sluzby2{
margin:40px 40px 40px 0px;
text-align: left;
}
.rectangle{
  max-width: 100px;
  position: relative ;
  left: 0%;
}

}


